<h2>Beers</h2>

<a href="/beers/new">Add New Beer</a>

<div>
<% @beers.each do |b| %>
<ul>
  <li><a href="/beers/<%=b.id%>"><%=b.category%>: <%= b.name %> (<%=b.alc_percent%>)</a></li>
</ul>
<% end %>
</div>

